body{  
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color:#FAE5F4;
  
}
footer{
  background-color: #F1DCEC;
  border-color: black;
 
  
}
.contenedor{
  margin: auto;

}

.img{
	margin-left: 100px;
	height: 50%;
	width:30%;
}
.btn{

  border-color:   #EB4C4C;
  
  background-color: #FF7F7F;
  border-radius:10px;
  margin-bottom: 5%;
}
.btn:hover {
      background-color:#F04848;
      transition: 0.2s;
  }

.bg-2{

    background: linear-gradient(to right, rgb(221, 94, 137), rgb(247, 187, 151));
    text-align: center;
   border-top-width:5%;
  }


  .bg-1{
    background: linear-gradient(to left, rgb(221, 94, 137), rgb(247, 187, 151));
  }
.titulo {

   font-family: fantasy ;    
     color: #e8858e;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
    text-align: center ;
    margin-top: 30px;
    margin-bottom: 30px;
}
h3{


    font-size: 350%;

}
.card{
	 color: #e8858e;
   text-align: justify;
   margin-bottom: auto;
}
.card-body{
  display: block;
  padding: 0.5rem 0.5rem;
  width: 200px;
  margin: 0 auto;
  text-align: justify;
}

.ex1 {
  margin: auto;
  width: 66%;
  text-align: justify;

}
.p{ 

 
 font-style: monospace;
}
form {

background-color: #FFD5C5;

border-radius: 5px;
margin-bottom: 10%;
}
img{
 width: 100%




}
* {
  box-sizing: border-box;
}
.row{

  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.col{
  align-items: center;
    max-height:70%;
  flex: 33%;
  padding: 5px;


}
.col img{
  margin-top: 5px;
}
.card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
  transform: translateY(-3%);

}